
nav {
  background-color: #141112;
  height: 205px;
  box-shadow: 0 1px 2px #141112;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  font-weight: bold;
  padding: 0;
  z-index: 2; 
}

.text-container {
  float: left; 
  width: 50%;   /*alinhar o texto dentro do container*/
  text-align: justify;
}

.image-container {
  float: right; /* alinhar a imagem à direita */
  width: 50%;   
  padding: 2.5cm;
}

p {
  font-family: "Roboto";
}

.mod{
  padding: 0;
  margin: auto;
  height: 450px;
  width: 800px;
  display: flex;
}

.ajust{
  width: 3cm;
  height: 1.4cm;
  margin-right: 18ch;
  margin-top: 0.3cap;

}

nav .brand-logo {
  display: block;
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  margin-left: 7%;
  border-radius: 0;
}

nav ul {
  list-style-type: none;
  margin: 5cm 0cm 0cm 13cm;
  padding: 0;
  overflow: hidden;
}


nav ul li {
  margin-right: 10px;
  position: relative;
  height: 50px;
  background-color: #555555;
  border-top-right-radius: 10px;
}

nav ul li::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  bottom: 0;
  left: 0;
  border-top-right-radius: 10px;
  background-color: #ff0000;
  transition: all 0.4s ease;
}

nav ul li:hover::before {
  width: 100%;
}

nav ul li a {
  color: white;
  text-decoration: none;
  position: relative;
  letter-spacing: -1.2px;
  display: flex;
  align-items: center; 
  padding: 0 10px; 
  height: 100%; 
  line-height: 1; 
  font-size: 17px;
}
  
  
  ul {
    list-style-type: none;
    padding: 0%;  }
    
  ul li {
    display: inline-block;
    margin-bottom: 0;
    z-index: 400;
  }

.container {
    margin-top: 30px;
}

h2 {
    font-size: 36px;
    font-weight: 500;
    color: #444;
    margin-bottom: 20px;
    font-family: "Bebas Neue";
}

h1 {
    font-size: 24px;
    font-weight: 500;
    color: #444;
    margin-bottom: 20px;
}

h5 {
  font-family: 'Roboto';
  font-size: 14px;
  color: black;
  font-weight: bold;
}

.card {
    margin-bottom: 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);  
}

.card-title {
    font-size: 18px;
    font-weight: 500;
    color: #444;
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 28px;
}

.card-text {
    font-size: 16px;
    font-weight: 400;
    color: #444;
    margin-bottom: 10px;
}

.btn-primary {
    height: 40px;
    width: auto;
    background-color: #FB3C03;
    border-color: #FB3C03;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    padding: 8px 16px;
    margin-top: 10px;
    align-items: center; 
    line-height: 1.5; 

    
}

.carousel-slider{
  position:relative;
  z-index: 1;
}

.btn-primary:hover {
    background-color: #060100;
    border-color: #FB3C03;
    color: #FB3C03;    
}


.zoomable-image {
  position: relative;
  overflow: hidden;
  
}

.zoomable-image img {
  width: 100%;
  height: auto;
  transition: transform 0.4s ease-in-out;
}

.zoomable-image:hover img {
  transform: scale(1.6);
}

.borda{
  border: 1px dashed #DCDCDC;
  padding: 2%;
}

@media (max-width: 738px){
  .carousel {
    max-height: 300px;
  }
}

@media (max-width: 480px){
  .carousel{
    max-height: 200px;
  }
}

.input-field label {
  margin-top: -25px; 
}

/* sobrescrever o padrão do materialize */
.input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, .input-field input[type=tel]:focus + label {
  color: #000;
}

.input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field input[type=tel]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

.input-field input[type="text"], .input-field input[type="email"], .input-field input[type="tel"], textarea[id="mensagem"] {
  border-radius:15px;
  border: 1px solid #000
}

button[type=submit] {
  font-size: 16px;
  color: #ffffff;
  background-color: #4e2587;
}


a.link {
  color: #4e2587;
}




